html, body {
  margin: 0;
  width: 100%;
  height: 100%;
}

#svg-container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

svg#svg-canvas {
  display: block;
}

.senator-circle {
  opacity: 0.8;
  transition: all 0.1s ease-in-out;
  cursor: pointer;
}

.senator-circle.selected {
  opacity: 1;
  stroke: black;
  stroke-width: 4px;
}

#tooltip {
  opacity: 0;
  position: absolute;
  background-color: white;
  border: solid;
  border-width: 2px;
  border-radius: 5px;
  padding: 5px;
  font-family: sans-serif;
  font-weight: bold;
}